:root {
	--primary-color-1: #18122B;
	--primary-color-2: #393053;
	--primary-color-3: #443C68;
	--primary-color-4: #635985;
	--primary-color-5: #6D6191;

	--text-color-1: #fff;
	--text-color-2: #E6E6E6;
	--text-color-3: #BFBFBF;
	--text-color-4: #808080;
	--text-color-5: #404040;
}